In [11]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.0.0

In [12]:
import numpy as np
import matplotlib.pyplot as plt  # To visualize
import pandas as pd  # To read data
from sklearn.linear_model import LinearRegression
data = pd.read_csv('data.csv',encoding="ISO-8859-1")
train = pd.read_csv('train.csv')
val = pd.read_csv('val.csv')
test = pd.read_csv('test.csv')

In [13]:
from statistics import mode 
data.fillna(data.mean(), inplace=True)
data['host_since'].fillna(mode(data['host_since']), inplace=True)
data['host_response_time'].fillna(mode(data['host_response_time']), inplace=True)
data['host_response_rate'].fillna(mode(data['host_response_rate']), inplace=True)
data['host_is_superhost'].fillna(mode(data['host_is_superhost']), inplace=True)
data['host_listings_count'].fillna(mode(data['host_listings_count']), inplace=True)
data['host_identity_verified'].fillna(mode(data['host_identity_verified']), inplace=True)
print(data.isnull().sum())

id                                0
host_since                        0
host_response_time                0
host_response_rate                0
host_is_superhost                 0
host_listings_count               0
host_identity_verified            0
zipcode                          94
latitude                          0
longitude                         0
is_location_exact                 0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
bed_type                          0
amenities                         0
square_feet                       0
number_of_reviews                 0
number_of_reviews_ltm             0
first_review                   2007
last_review                    2007
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
price                             0
dtype: int64

In [14]:

def convert_to_year(date_in_some_format):
    date_as_string = str(date_in_some_format)
    year_as_string = date_as_string[:4] # last four characters
    return int(year_as_string)

def percent_to_float(s):
    s = str(float(s.rstrip("%")))
    i = s.find(".")
    if i == -1:
        return int(s) / 100
    if s.startswith("-"):
        return -percent_to_float(s.lstrip("-"))
    s = s.replace(".", "")
    i -= 2
    if i < 0:
        return float("." + "0" * abs(i) + s)
    else:
        return float(s[:i] + "." + s[i:])
def boolean_to_int(b):
    if b=='t':
        return 1
    elif b=='f':
        return 0
    else:
        return

In [15]:
data['host_since'] = data['host_since'] .apply(convert_to_year)
data['host_response_rate'] = data['host_response_rate'] .apply(percent_to_float)
data['host_is_superhost'] = data['host_is_superhost'] .apply(boolean_to_int)
data['host_identity_verified'] = data['host_identity_verified'] .apply(boolean_to_int)
data['is_location_exact'] = data['is_location_exact'] .apply(boolean_to_int)

print(data)

          id  host_since  host_response_time  host_response_rate  \
0          0        2008  within a few hours                 1.0
1          1        2008  within a few hours                 1.0
2          2        2009      within an hour                 1.0
3          3        2009      within an hour                 1.0
4          4        2009      within an hour                 1.0
...      ...         ...                 ...                 ...
10147  11334        2017      within an hour                 1.0
10148  11335        2015      within an hour                 1.0
10149  11336        2019      within an hour                 1.0
10150  11337        2015      within an hour                 1.0
10151  11338        2019      within an hour                 1.0

       host_is_superhost  host_listings_count  host_identity_verified  \
0                      1                  3.0                       1
1                      1                  3.0                       1
2                      1                  1.0                       1
3                      1                  1.0                       1
4                      1                  1.0                       0
...                  ...                  ...                     ...
10147                  0                  2.0                       0
10148                  0                  1.0                       0
10149                  0                  1.0                       0
10150                  1                  1.0                       0
10151                  0                  1.0                       1

       zipcode  latitude  longitude  ...  first_review last_review  \
0        78702  30.27750  -97.71398  ...    2009-03-17  2019-03-16
1        78702  30.27577  -97.71379  ...    2009-03-19  2018-03-14
2        78702  30.26112  -97.73448  ...    2009-03-08  2019-09-14
3        78729  30.45596  -97.78370  ...    2010-04-10  2019-08-22
4        78704  30.24829  -97.73726  ...    2009-12-14  2019-08-25
...        ...       ...        ...  ...           ...         ...
10147  78746.0  30.25875  -97.78971  ...           NaN         NaN
10148  78745.0  30.19054  -97.77535  ...    2019-09-18  2019-09-18
10149  78744.0  30.18790  -97.76552  ...           NaN         NaN
10150  78704.0  30.25580  -97.76815  ...           NaN         NaN
10151  78735.0  30.25454  -97.83561  ...           NaN         NaN

      review_scores_rating  review_scores_accuracy  review_scores_cleanliness  \
0                93.000000                9.000000                  10.000000
1                91.000000               10.000000                   8.000000
2                96.000000               10.000000                  10.000000
3                98.000000               10.000000                  10.000000
4                99.000000               10.000000                  10.000000
...                    ...                     ...                        ...
10147            96.287935                9.786088                   9.625358
10148            96.287935                9.786088                   9.625358
10149            96.287935                9.786088                   9.625358
10150            96.287935                9.786088                   9.625358
10151            96.287935                9.786088                   9.625358

       review_scores_checkin  review_scores_communication  \
0                  10.000000                    10.000000
1                  10.000000                     9.000000
2                  10.000000                    10.000000
3                  10.000000                    10.000000
4                  10.000000                    10.000000
...                      ...                          ...
10147               9.871562                     9.876556
10148               9.871562                     9.876556
10149               9.871562                     9.876556
10150               9.871562                     9.876556
10151               9.871562                     9.876556

      review_scores_location review_scores_value       price
0                   8.000000             9.00000  170.865942
1                  10.000000             9.00000  100.000000
2                  10.000000            10.00000  170.865942
3                  10.000000            10.00000   40.000000
4                  10.000000            10.00000   99.000000
...                      ...                 ...         ...
10147               9.783313             9.62637  400.000000
10148               9.783313             9.62637   55.000000
10149               9.783313             9.62637   50.000000
10150               9.783313             9.62637  455.000000
10151               9.783313             9.62637   43.000000

[10152 rows x 32 columns]

In [16]:
pd.set_option('display.max_columns', None)
data.tail()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_identity_verified,zipcode,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
10147,11334,2017,within an hour,1.0,0,2.0,0,78746.0,30.25875,-97.78971,1,Apartment,Entire home/apt,8,2.0,2.0,4.0,Real Bed,"{TV,Wifi,""Air conditioning"",Pool,Kitchen,""Free...",1041.262857,0,0,NaN,NaN,96.287935,9.786088,9.625358,9.871562,9.876556,9.783313,9.62637,400.0
10148,11335,2015,within an hour,1.0,0,1.0,0,78745.0,30.19054,-97.77535,0,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"{""Air conditioning"",Pool,Kitchen,""Free parking...",1041.262857,1,1,2019-09-18,2019-09-18,96.287935,9.786088,9.625358,9.871562,9.876556,9.783313,9.62637,55.0
10149,11336,2019,within an hour,1.0,0,1.0,0,78744.0,30.18790,-97.76552,0,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{""Air conditioning"",Pool,Kitchen,""Smoking allo...",1041.262857,0,0,NaN,NaN,96.287935,9.786088,9.625358,9.871562,9.876556,9.783313,9.62637,50.0
10150,11337,2015,within an hour,1.0,1,1.0,0,78704.0,30.25580,-97.76815,1,Guesthouse,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",1041.262857,0,0,NaN,NaN,96.287935,9.786088,9.625358,9.871562,9.876556,9.783313,9.62637,455.0
10151,11338,2019,within an hour,1.0,0,1.0,1,78735.0,30.25454,-97.83561,1,House,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",1041.262857,0,0,NaN,NaN,96.287935,9.786088,9.625358,9.871562,9.876556,9.783313,9.62637,43.0

In [17]:
print(x_train)

NameError: name 'x_train' is not defined

In [ ]:
data=pd.get_dummies(data, columns=["host_response_time"])
data=pd.get_dummies(data, columns=["property_type"])
data=pd.get_dummies(data, columns=["room_type"])
data=pd.get_dummies(data, columns=["bed_type"])
print('done')

In [ ]:
print(data.id)

In [ ]:
data.to_csv(r'data_p.csv')